#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:  #751d0c;
    color: white;
    cursor: pointer;
    padding: 13px;
    border-radius: 6px;
  }
  
  #myBtn:hover {
    background-color: #f6aa1c ;
    transform: scale(1.23);
  }